# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.swiftpm/
.build/

# Accio
Dependencies/
.accio/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

### Xcode ###
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Ignore user-specific settings
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Keep important project/workspace data
.gitignore.xcodeproj/project.pbxproj
.gitignore.xcodeproj/xcshareddata/
.gitignore.xcodeproj/project.xcworkspace/
.gitignore.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Build
build/
DerivedData/

# Project-specific
Weather/notes.txt
